In [7]:
from pathlib import Path
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Encuentra la carpeta /data sin importar dónde esté el .ipynb
here = Path.cwd()
candidates = [here, *here.parents]
data_dir = None
for c in candidates:
    d = c / "data"
    if d.exists():
        data_dir = d
        break
assert data_dir is not None, "No encuentro carpeta /data. Pon el notebook dentro del repo."

data_dir

WindowsPath('C:/Users/pablo/Downloads/SEMESTRE10/ANÁLISIS DE DATOS/Parcial 2/data')

In [8]:
# === Tablas visibles de TODAS las temporadas en /data ===
from pathlib import Path
import glob
import pandas as pd
from IPython.display import display, Markdown

REQ = {"HomeTeam","AwayTeam","FTHG","FTAG"}

# 1) Localiza carpeta /data (usa tu ruta de Windows y fallback a ./data)
candidatas = [
    Path(r"C:/Users/pablo/Downloads/SEMESTRE10/ANÁLISIS DE DATOS/Parcial 2/data"),
    Path.cwd() / "data",
]
data_dir = next((d for d in candidatas if d.exists()), None)
assert data_dir is not None, "No encuentro la carpeta /data. Ajusta la ruta arriba."

def leer_sp1_seguro(path: Path) -> pd.DataFrame:
    """Lee CSV intentando utf-8 y latin-1; valida columnas requeridas."""
    for enc in ("utf-8", "latin-1"):
        try:
            df = pd.read_csv(path, encoding=enc)
            break
        except Exception:
            df = None
    if df is None:
        raise RuntimeError(f"No pude leer {path.name} (codificación).")
    if not REQ.issubset(df.columns):
        raise ValueError(f"{path.name} debe tener columnas: {REQ}")
    return df

def tabla_liga(df_matches: pd.DataFrame) -> pd.DataFrame:
    """Tabla ordenada por puntos, luego GD y GF (desc)."""
    home = df_matches[["HomeTeam","FTHG","FTAG"]].rename(columns={"HomeTeam":"team","FTHG":"GF","FTAG":"GA"})
    away = df_matches[["AwayTeam","FTAG","FTHG"]].rename(columns={"AwayTeam":"team","FTAG":"GF","FTHG":"GA"})
    full = pd.concat([home, away], ignore_index=True)
    agg = full.groupby("team").agg(GF=("GF","sum"), GA=("GA","sum"), MP=("GF","count")).reset_index()
    agg["GD"] = agg["GF"] - agg["GA"]
    # puntos: local
    ph = df_matches.assign(p=(df_matches.FTHG>df_matches.FTAG)*3 + (df_matches.FTHG==df_matches.FTAG)*1)\
                   .groupby("HomeTeam")["p"].sum().rename_axis("team").rename("p_home").reset_index()
    # puntos: visita
    pa = df_matches.assign(p=(df_matches.FTAG>df_matches.FTHG)*3 + (df_matches.FTAG==df_matches.FTHG)*1)\
                   .groupby("AwayTeam")["p"].sum().rename_axis("team").rename("p_away").reset_index()
    pts = pd.merge(ph, pa, on="team", how="outer").fillna(0.0)
    pts["points"] = pts["p_home"] + pts["p_away"]
    tbl = agg.merge(pts[["team","points"]], on="team", how="left").fillna({"points":0})
    tbl = tbl.sort_values(["points","GD","GF"], ascending=[False, False, False]).reset_index(drop=True)
    tbl["rank"] = tbl.index + 1
    # columnas ordenadas
    return tbl[["rank","team","points","GF","GA","GD","MP"]]

# 2) Recorre todas las temporadas y muestra tablas
archivos = sorted(glob.glob(str(data_dir / "Season *.csv")))
assert archivos, f"No encontré archivos 'Season *.csv' en {data_dir}"

for ruta in archivos:
    p = Path(ruta)
    try:
        dfm = leer_sp1_seguro(p)
        tbl = tabla_liga(dfm)
        display(Markdown(f"### {p.stem}  —  Equipos: {len(tbl)}"))
        display(tbl)
    except Exception as e:
        display(Markdown(f"**[WARN]** Saltando `{p.name}`: {e}"))

### Season 1993-1994  —  Equipos: 20

    rank         team  points    GF    GA    GD  MP
0      1    Barcelona      81  91.0  42.0  49.0  38
1      2    La Coruna      78  54.0  18.0  36.0  38
2      3     Zaragoza      65  71.0  47.0  24.0  38
3      4  Real Madrid      64  61.0  49.0  12.0  38
4      5   Ath Bilbao      59  61.0  47.0  14.0  38
5      6      Sevilla      57  56.0  42.0  14.0  38
6      7     Valencia      54  55.0  50.0   5.0  38
7      8    Santander      53  44.0  42.0   2.0  38
8      9     Tenerife      51  50.0  57.0  -7.0  38
9     10     Sp Gijon      50  42.0  57.0 -15.0  38
10    11       Oviedo      49  43.0  49.0  -6.0  38
11    12   Ath Madrid      48  54.0  54.0   0.0  38
12    13     Sociedad      48  38.0  47.0  -9.0  38
13    14     Albacete      45  49.0  58.0  -9.0  38
14    15        Celta      44  41.0  51.0 -10.0  38
15    16     Logrones      42  47.0  58.0 -11.0  38
16    17    Vallecano      40  40.0  58.0 -18.0  38
17    18   Valladolid      38  28.0  51.0 -23.0  38
18    19       Lerida      34  29.0  48.0 -19.0  38
19    20      Osasuna      34  34.0  63.0 -29.0  38

### Season 1994-1995  —  Equipos: 20

    rank         team  points    GF    GA    GD  MP
0      1  Real Madrid      78  76.0  29.0  47.0  38
1      2    La Coruna      71  68.0  32.0  36.0  38
2      3    Barcelona      64  60.0  45.0  15.0  38
3      4        Betis      61  46.0  25.0  21.0  38
4      5     Zaragoza      61  56.0  51.0   5.0  38
5      6      Sevilla      59  55.0  41.0  14.0  38
6      7   Ath Bilbao      58  39.0  42.0  -3.0  38
7      8      Espanol      57  51.0  35.0  16.0  38
8      9       Oviedo      52  45.0  42.0   3.0  38
9     10     Valencia      51  53.0  48.0   5.0  38
10    11     Sociedad      50  56.0  44.0  12.0  38
11    12    Santander      49  42.0  47.0  -5.0  38
12    13   Ath Madrid      48  56.0  54.0   2.0  38
13    14     Tenerife      48  57.0  57.0   0.0  38
14    15        Celta      47  36.0  48.0 -12.0  38
15    16   Compostela      45  44.0  56.0 -12.0  38
16    17     Albacete      44  44.0  61.0 -17.0  38
17    18     Sp Gijon      36  42.0  67.0 -25.0  38
18    19   Valladolid      33  25.0  63.0 -38.0  38
19    20     Logrones      15  15.0  79.0 -64.0  38

### Season 1995-1996  —  Equipos: 22

    rank         team  points    GF    GA    GD  MP
0      1   Ath Madrid      87  75.0  32.0  43.0  42
1      2     Valencia      83  77.0  51.0  26.0  42
2      3    Barcelona      80  72.0  39.0  33.0  42
3      4      Espanol      74  63.0  36.0  27.0  42
4      5     Tenerife      72  69.0  54.0  15.0  42
5      6  Real Madrid      70  75.0  51.0  24.0  42
6      7     Sociedad      63  62.0  53.0   9.0  42
7      8        Betis      62  61.0  54.0   7.0  42
8      9    La Coruna      61  63.0  44.0  19.0  42
9     10   Compostela      59  47.0  54.0  -7.0  42
10    11        Celta      52  49.0  51.0  -2.0  42
11    12     Zaragoza      48  51.0  59.0  -8.0  42
12    13   Ath Bilbao      48  44.0  55.0 -11.0  42
13    14      Sevilla      48  43.0  55.0 -12.0  42
14    15       Oviedo      48  48.0  67.0 -19.0  42
15    16   Valladolid      47  57.0  62.0  -5.0  42
16    17    Santander      47  47.0  69.0 -22.0  42
17    18     Sp Gijon      46  51.0  60.0  -9.0  42
18    19    Vallecano      44  47.0  75.0 -28.0  42
19    20       Merida      42  37.0  62.0 -25.0  42
20    21     Albacete      42  55.0  81.0 -26.0  42
21    22    Salamanca      33  53.0  82.0 -29.0  42

### Season 1996-1997  —  Equipos: 22

    rank         team  points     GF    GA    GD  MP
0      1  Real Madrid      92   85.0  36.0  49.0  42
1      2    Barcelona      90  102.0  48.0  54.0  42
2      3        Betis      77   81.0  46.0  35.0  42
3      4    La Coruna      77   57.0  30.0  27.0  42
4      5   Ath Madrid      71   76.0  64.0  12.0  42
5      6   Ath Bilbao      64   72.0  57.0  15.0  42
6      7   Valladolid      64   57.0  46.0  11.0  42
7      8     Sociedad      63   50.0  47.0   3.0  42
8      9     Tenerife      56   69.0  57.0  12.0  42
9     10     Valencia      56   63.0  59.0   4.0  42
10    11   Compostela      53   52.0  65.0 -13.0  42
11    12      Espanol      51   51.0  57.0  -6.0  42
12    13    Santander      50   52.0  54.0  -2.0  42
13    14     Zaragoza      50   58.0  66.0  -8.0  42
14    15     Sp Gijon      50   45.0  63.0 -18.0  42
15    16        Celta      49   51.0  54.0  -3.0  42
16    17       Oviedo      48   49.0  65.0 -16.0  42
17    18    Vallecano      45   43.0  62.0 -19.0  42
18    19  Extremadura      44   35.0  64.0 -29.0  42
19    20      Sevilla      43   50.0  69.0 -19.0  42
20    21     Hercules      41   40.0  77.0 -37.0  42
21    22     Logrones      33   33.0  85.0 -52.0  42

### Season 1997-1998  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1    Barcelona      74  78  56  22  38
1      2   Ath Bilbao      65  52  42  10  38
2      3     Sociedad      63  60  37  23  38
3      4  Real Madrid      63  63  45  18  38
4      5   Ath Madrid      60  79  56  23  38
5      6     Mallorca      60  55  39  16  38
6      7        Celta      60  54  47   7  38
7      8        Betis      59  49  50  -1  38
8      9     Valencia      55  58  52   6  38
9     10      Espanol      53  44  31  13  38
10    11   Valladolid      50  36  47 -11  38
11    12    La Coruna      49  44  46  -2  38
12    13     Zaragoza      48  45  53  -8  38
13    14    Salamanca      45  46  46   0  38
14    15    Santander      45  46  55  -9  38
15    16     Tenerife      45  44  57 -13  38
16    17   Compostela      44  56  66 -10  38
17    18       Oviedo      40  36  51 -15  38
18    19       Merida      39  33  53 -20  38
19    20     Sp Gijon      13  31  80 -49  38

### Season 1998-1999  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1    Barcelona      79  87  43  44  38
1      2  Real Madrid      68  77  62  15  38
2      3     Mallorca      66  48  31  17  38
3      4     Valencia      65  63  39  24  38
4      5        Celta      64  69  41  28  38
5      6    La Coruna      63  55  43  12  38
6      7      Espanol      61  49  38  11  38
7      8   Ath Bilbao      60  53  47   6  38
8      9     Zaragoza      57  57  46  11  38
9     10     Sociedad      54  47  43   4  38
10    11        Betis      49  47  58 -11  38
11    12   Valladolid      48  35  44  -9  38
12    13   Ath Madrid      46  54  50   4  38
13    14       Oviedo      45  41  57 -16  38
14    15    Santander      42  41  53 -12  38
15    16       Alaves      40  36  63 -27  38
16    17  Extremadura      39  27  53 -26  38
17    18    Villareal      36  47  63 -16  38
18    19     Tenerife      34  41  63 -22  38
19    20    Salamanca      27  29  66 -37  38

### Season 1999-2000  —  Equipos: 20

    rank         team  points    GF    GA    GD  MP
0      1    La Coruna      69  66.0  44.0  22.0  38
1      2    Barcelona      64  70.0  46.0  24.0  38
2      3     Valencia      64  59.0  39.0  20.0  38
3      4     Zaragoza      63  60.0  40.0  20.0  38
4      5  Real Madrid      62  58.0  48.0  10.0  38
5      6       Alaves      61  41.0  37.0   4.0  38
6      7        Celta      53  45.0  43.0   2.0  38
7      8   Valladolid      53  36.0  44.0  -8.0  38
8      9    Vallecano      52  51.0  53.0  -2.0  38
9     10     Mallorca      51  52.0  45.0   7.0  38
10    11   Ath Bilbao      50  47.0  57.0 -10.0  38
11    12       Malaga      48  55.0  50.0   5.0  38
12    13      Espanol      47  51.0  48.0   3.0  38
13    14     Sociedad      47  42.0  49.0  -7.0  38
14    15    Santander      46  52.0  50.0   2.0  38
15    16     Numancia      45  47.0  59.0 -12.0  38
16    17       Oviedo      45  44.0  60.0 -16.0  38
17    18        Betis      42  33.0  56.0 -23.0  38
18    19   Ath Madrid      38  48.0  64.0 -16.0  38
19    20      Sevilla      28  42.0  67.0 -25.0  38

### Season 2000-2001  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1  Real Madrid      80  81  40  41  38
1      2    La Coruna      73  73  44  29  38
2      3     Mallorca      71  61  43  18  38
3      4    Barcelona      63  80  57  23  38
4      5     Valencia      63  55  34  21  38
5      6        Celta      59  51  49   2  38
6      7   Villarreal      57  58  52   6  38
7      8       Malaga      56  60  61  -1  38
8      9      Espanol      50  46  44   2  38
9     10       Alaves      49  58  59  -1  38
10    11   Las Palmas      46  42  62 -20  38
11    12    Vallecano      43  56  68 -12  38
12    13     Sociedad      43  52  68 -16  38
13    14   Ath Bilbao      43  44  60 -16  38
14    15     Zaragoza      42  54  57  -3  38
15    16   Valladolid      42  42  50  -8  38
16    17      Osasuna      42  43  54 -11  38
17    18       Oviedo      41  51  67 -16  38
18    19    Santander      39  48  62 -14  38
19    20     Numancia      39  40  64 -24  38

### Season 2001-2002  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1     Valencia      75  51  27  24  38
1      2    La Coruna      68  65  41  24  38
2      3  Real Madrid      66  69  44  25  38
3      4    Barcelona      64  65  37  28  38
4      5        Celta      60  64  46  18  38
5      6        Betis      59  42  34   8  38
6      7       Alaves      54  41  44  -3  38
7      8      Sevilla      53  51  40  11  38
8      9       Malaga      53  44  44   0  38
9     10   Ath Bilbao      53  54  66 -12  38
10    11    Vallecano      49  46  52  -6  38
11    12   Valladolid      48  45  58 -13  38
12    13     Sociedad      47  48  54  -6  38
13    14      Espanol      47  47  56  -9  38
14    15   Villarreal      43  46  55  -9  38
15    16     Mallorca      43  40  52 -12  38
16    17      Osasuna      42  36  49 -13  38
17    18   Las Palmas      40  40  50 -10  38
18    19     Tenerife      38  32  58 -26  38
19    20     Zaragoza      37  35  54 -19  38

### Season 2002-2003  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1  Real Madrid      78  86  42  44  38
1      2     Sociedad      76  71  45  26  38
2      3    La Coruna      72  67  47  20  38
3      4        Celta      61  45  36   9  38
4      5     Valencia      60  56  35  21  38
5      6    Barcelona      56  63  47  16  38
6      7   Ath Bilbao      55  63  61   2  38
7      8        Betis      54  56  53   3  38
8      9     Mallorca      52  49  56  -7  38
9     10      Sevilla      50  38  39  -1  38
10    11   Ath Madrid      47  51  56  -5  38
11    12      Osasuna      47  40  48  -8  38
12    13   Valladolid      46  37  40  -3  38
13    14       Malaga      46  44  49  -5  38
14    15   Villarreal      45  44  53  -9  38
15    16    Santander      44  54  64 -10  38
16    17      Espanol      43  48  54  -6  38
17    18   Recreativo      36  35  61 -26  38
18    19       Alaves      35  38  68 -30  38
19    20    Vallecano      32  31  62 -31  38

### Season 2003-2004  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1     Valencia      77  71  27  44  38
1      2    Barcelona      72  63  39  24  38
2      3    La Coruna      71  60  34  26  38
3      4  Real Madrid      70  72  54  18  38
4      5   Ath Bilbao      56  53  49   4  38
5      6      Sevilla      55  56  45  11  38
6      7   Ath Madrid      55  51  53  -2  38
7      8   Villarreal      54  47  49  -2  38
8      9        Betis      52  46  43   3  38
9     10       Malaga      51  50  55  -5  38
10    11     Mallorca      51  54  66 -12  38
11    12      Osasuna      48  38  37   1  38
12    13     Zaragoza      48  46  55  -9  38
13    14     Albacete      47  40  48  -8  38
14    15     Sociedad      46  49  53  -4  38
15    16    Santander      43  48  63 -15  38
16    17      Espanol      43  48  64 -16  38
17    18   Valladolid      41  46  56 -10  38
18    19        Celta      39  48  68 -20  38
19    20       Murcia      26  29  57 -28  38

**[WARN]** Saltando `Season 2004-2005.csv`: No pude leer Season 2004-2005.csv (codificación).

### Season 2005-2006  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1    Barcelona      82  80  35  45  38
1      2  Real Madrid      70  70  40  30  38
2      3     Valencia      69  58  33  25  38
3      4      Sevilla      68  54  39  15  38
4      5      Osasuna      68  49  43   6  38
5      6        Celta      64  45  33  12  38
6      7   Villarreal      57  50  39  11  38
7      8    La Coruna      55  47  45   2  38
8      9       Getafe      54  54  49   5  38
9     10   Ath Madrid      52  45  37   8  38
10    11     Zaragoza      46  46  51  -5  38
11    12   Ath Bilbao      45  40  46  -6  38
12    13     Mallorca      43  37  51 -14  38
13    14        Betis      42  34  51 -17  38
14    15      Espanol      41  36  56 -20  38
15    16    Santander      40  36  49 -13  38
16    17     Sociedad      40  48  65 -17  38
17    18       Alaves      39  35  54 -19  38
18    19        Cadiz      36  36  52 -16  38
19    20       Malaga      24  36  68 -32  38

### Season 2006-2007  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1    Barcelona      76  78  33  45  38
1      2  Real Madrid      76  66  40  26  38
2      3      Sevilla      71  64  35  29  38
3      4     Valencia      66  57  42  15  38
4      5   Villarreal      62  48  44   4  38
5      6     Zaragoza      60  55  43  12  38
6      7   Ath Madrid      60  46  39   7  38
7      8   Recreativo      54  54  52   2  38
8      9       Getafe      52  39  33   6  38
9     10    Santander      50  42  48  -6  38
10    11     Mallorca      49  41  47  -6  38
11    12      Espanol      49  46  53  -7  38
12    13    La Coruna      47  32  45 -13  38
13    14      Osasuna      46  51  49   2  38
14    15      Levante      42  37  53 -16  38
15    16        Betis      40  36  49 -13  38
16    17   Ath Bilbao      40  44  62 -18  38
17    18        Celta      39  40  59 -19  38
18    19     Sociedad      35  32  47 -15  38
19    20    Gimnastic      28  34  69 -35  38

### Season 2007-2008  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1  Real Madrid      85  84  36  48  38
1      2   Villarreal      77  63  40  23  38
2      3    Barcelona      67  76  43  33  38
3      4      Sevilla      64  75  49  26  38
4      5   Ath Madrid      64  66  47  19  38
5      6    Santander      60  42  41   1  38
6      7     Mallorca      59  69  54  15  38
7      8    La Coruna      52  46  47  -1  38
8      9      Almeria      52  42  45  -3  38
9     10     Valencia      51  48  62 -14  38
10    11   Ath Bilbao      50  40  43  -3  38
11    12      Espanol      48  43  53 -10  38
12    13       Getafe      47  44  48  -4  38
13    14        Betis      47  45  51  -6  38
14    15   Valladolid      45  42  57 -15  38
15    16   Recreativo      44  40  60 -20  38
16    17      Osasuna      43  37  44  -7  38
17    18     Zaragoza      42  50  61 -11  38
18    19       Murcia      30  36  65 -29  38
19    20      Levante      26  33  75 -42  38

### Season 2008-2009  —  Equipos: 20

    rank         team  points   GF  GA  GD  MP
0      1    Barcelona      87  105  35  70  38
1      2  Real Madrid      78   83  52  31  38
2      3      Sevilla      70   54  39  15  38
3      4   Ath Madrid      67   80  57  23  38
4      5   Villarreal      65   61  54   7  38
5      6     Valencia      62   68  54  14  38
6      7    La Coruna      58   48  47   1  38
7      8       Malaga      55   55  59  -4  38
8      9     Mallorca      51   53  60  -7  38
9     10      Espanol      47   46  49  -3  38
10    11    Santander      46   49  48   1  38
11    12      Almeria      46   45  61 -16  38
12    13   Ath Bilbao      44   47  62 -15  38
13    14      Osasuna      43   41  47  -6  38
14    15   Valladolid      43   46  58 -12  38
15    16     Sp Gijon      43   47  79 -32  38
16    17       Getafe      42   50  56  -6  38
17    18        Betis      42   51  58  -7  38
18    19     Numancia      35   38  69 -31  38
19    20   Recreativo      33   34  57 -23  38

### Season 2009-2010  —  Equipos: 20

    rank         team  points   GF  GA  GD  MP
0      1    Barcelona      99   98  24  74  38
1      2  Real Madrid      96  102  35  67  38
2      3     Valencia      71   59  40  19  38
3      4      Sevilla      63   65  49  16  38
4      5     Mallorca      62   59  44  15  38
5      6       Getafe      58   58  48  10  38
6      7   Villarreal      56   58  57   1  38
7      8   Ath Bilbao      54   50  53  -3  38
8      9   Ath Madrid      47   57  61  -4  38
9     10    La Coruna      47   35  49 -14  38
10    11      Espanol      44   29  46 -17  38
11    12      Osasuna      43   37  46  -9  38
12    13      Almeria      42   43  55 -12  38
13    14     Zaragoza      41   46  64 -18  38
14    15     Sp Gijon      40   36  51 -15  38
15    16    Santander      39   42  59 -17  38
16    17       Malaga      37   42  48  -6  38
17    18   Valladolid      36   37  62 -25  38
18    19     Tenerife      36   40  74 -34  38
19    20        Xerez      34   38  66 -28  38

### Season 2010-2011  —  Equipos: 20

    rank         team  points   GF  GA  GD  MP
0      1    Barcelona      96   95  21  74  38
1      2  Real Madrid      92  102  33  69  38
2      3     Valencia      71   64  44  20  38
3      4   Villarreal      62   54  44  10  38
4      5   Ath Madrid      58   62  53   9  38
5      6   Ath Bilbao      58   59  55   4  38
6      7      Sevilla      58   62  61   1  38
7      8      Espanol      49   46  55  -9  38
8      9      Osasuna      47   45  46  -1  38
9     10     Sp Gijon      47   35  42  -7  38
10    11       Malaga      46   54  68 -14  38
11    12    Santander      46   41  56 -15  38
12    13      Levante      45   41  52 -11  38
13    14     Zaragoza      45   40  53 -13  38
14    15     Sociedad      45   49  66 -17  38
15    16       Getafe      44   49  60 -11  38
16    17     Mallorca      44   41  56 -15  38
17    18    La Coruna      43   31  47 -16  38
18    19     Hercules      35   36  60 -24  38
19    20      Almeria      30   36  70 -34  38

### Season 2011-2012  —  Equipos: 20

    rank         team  points   GF  GA  GD  MP
0      1  Real Madrid     100  121  32  89  38
1      2    Barcelona      91  114  29  85  38
2      3     Valencia      61   59  44  15  38
3      4       Malaga      58   54  53   1  38
4      5   Ath Madrid      56   53  46   7  38
5      6      Levante      55   54  50   4  38
6      7      Osasuna      54   44  61 -17  38
7      8     Mallorca      52   42  46  -4  38
8      9      Sevilla      50   48  47   1  38
9     10   Ath Bilbao      49   49  52  -3  38
10    11     Sociedad      47   46  52  -6  38
11    12        Betis      47   47  56  -9  38
12    13       Getafe      47   40  51 -11  38
13    14      Espanol      46   46  56 -10  38
14    15    Vallecano      43   53  73 -20  38
15    16     Zaragoza      43   36  61 -25  38
16    17      Granada      42   35  56 -21  38
17    18   Villarreal      41   39  53 -14  38
18    19     Sp Gijon      37   42  69 -27  38
19    20    Santander      27   28  63 -35  38

### Season 2012-2013  —  Equipos: 20

    rank         team  points   GF  GA  GD  MP
0      1    Barcelona     100  115  40  75  38
1      2  Real Madrid      85  103  42  61  38
2      3   Ath Madrid      76   65  31  34  38
3      4     Sociedad      66   70  49  21  38
4      5     Valencia      65   67  54  13  38
5      6       Malaga      57   53  50   3  38
6      7        Betis      56   57  56   1  38
7      8    Vallecano      53   50  66 -16  38
8      9      Sevilla      50   58  54   4  38
9     10       Getafe      47   43  57 -14  38
10    11      Levante      46   40  57 -17  38
11    12   Ath Bilbao      45   44  65 -21  38
12    13      Espanol      44   43  52  -9  38
13    14   Valladolid      43   49  58  -9  38
14    15      Granada      42   37  54 -17  38
15    16      Osasuna      39   33  50 -17  38
16    17        Celta      37   37  52 -15  38
17    18     Mallorca      36   43  72 -29  38
18    19    La Coruna      35   47  70 -23  38
19    20     Zaragoza      34   37  62 -25  38

### Season 2013-2014  —  Equipos: 20

    rank         team  points   GF  GA  GD  MP
0      1   Ath Madrid      90   77  26  51  38
1      2    Barcelona      87  100  33  67  38
2      3  Real Madrid      87  104  38  66  38
3      4   Ath Bilbao      70   66  39  27  38
4      5      Sevilla      63   69  52  17  38
5      6   Villarreal      59   60  44  16  38
6      7     Sociedad      59   62  55   7  38
7      8     Valencia      49   51  53  -2  38
8      9        Celta      49   49  54  -5  38
9     10      Levante      48   35  43  -8  38
10    11       Malaga      45   39  46  -7  38
11    12    Vallecano      43   46  80 -34  38
12    13      Espanol      42   41  51 -10  38
13    14       Getafe      42   35  54 -19  38
14    15      Granada      41   32  56 -24  38
15    16        Elche      40   30  50 -20  38
16    17      Almeria      40   43  71 -28  38
17    18      Osasuna      39   32  62 -30  38
18    19   Valladolid      36   38  60 -22  38
19    20        Betis      25   36  78 -42  38

### Season 2014-2015  —  Equipos: 20

    rank         team  points   GF  GA  GD  MP
0      1    Barcelona      94  110  21  89  38
1      2  Real Madrid      92  118  38  80  38
2      3   Ath Madrid      78   67  29  38  38
3      4     Valencia      77   70  32  38  38
4      5      Sevilla      76   71  45  26  38
5      6   Villarreal      60   48  37  11  38
6      7   Ath Bilbao      55   42  41   1  38
7      8        Celta      51   47  44   3  38
8      9       Malaga      50   42  48  -6  38
9     10      Espanol      49   47  51  -4  38
10    11    Vallecano      49   46  68 -22  38
11    12     Sociedad      46   44  51  -7  38
12    13        Elche      41   35  62 -27  38
13    14       Getafe      37   33  64 -31  38
14    15      Levante      37   34  67 -33  38
15    16        Eibar      35   34  55 -21  38
16    17    La Coruna      35   35  60 -25  38
17    18      Granada      35   29  64 -35  38
18    19      Almeria      32   35  64 -29  38
19    20      Cordoba      20   22  68 -46  38

### Season 2015-2016  —  Equipos: 20

    rank         team  points   GF  GA  GD  MP
0      1    Barcelona      91  112  29  83  38
1      2  Real Madrid      90  110  34  76  38
2      3   Ath Madrid      88   63  18  45  38
3      4   Villarreal      64   44  35   9  38
4      5   Ath Bilbao      62   58  45  13  38
5      6        Celta      60   51  59  -8  38
6      7      Sevilla      52   51  50   1  38
7      8       Malaga      48   38  35   3  38
8      9     Sociedad      48   45  48  -3  38
9     10        Betis      45   34  52 -18  38
10    11     Valencia      44   46  48  -2  38
11    12   Las Palmas      44   45  53  -8  38
12    13        Eibar      43   49  61 -12  38
13    14      Espanol      43   40  74 -34  38
14    15    La Coruna      42   45  61 -16  38
15    16     Sp Gijon      39   40  62 -22  38
16    17      Granada      39   46  69 -23  38
17    18    Vallecano      38   52  73 -21  38
18    19       Getafe      36   37  67 -30  38
19    20      Levante      32   37  70 -33  38

### Season 2016-2017  —  Equipos: 20

    rank         team  points   GF  GA  GD  MP
0      1  Real Madrid      93  106  41  65  38
1      2    Barcelona      90  116  37  79  38
2      3   Ath Madrid      78   70  27  43  38
3      4      Sevilla      72   69  49  20  38
4      5   Villarreal      67   56  33  23  38
5      6     Sociedad      64   59  53   6  38
6      7   Ath Bilbao      63   53  43  10  38
7      8      Espanol      56   49  50  -1  38
8      9       Alaves      55   41  43  -2  38
9     10        Eibar      54   56  51   5  38
10    11       Malaga      46   49  55  -6  38
11    12     Valencia      46   56  65  -9  38
12    13        Celta      45   53  69 -16  38
13    14   Las Palmas      39   53  74 -21  38
14    15        Betis      39   41  64 -23  38
15    16    La Coruna      36   43  61 -18  38
16    17      Leganes      35   36  55 -19  38
17    18     Sp Gijon      31   42  72 -30  38
18    19      Osasuna      22   40  94 -54  38
19    20      Granada      20   30  82 -52  38

### Season 2017-2018  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1    Barcelona      93  99  29  70  38
1      2   Ath Madrid      79  58  22  36  38
2      3  Real Madrid      76  94  44  50  38
3      4     Valencia      73  65  38  27  38
4      5   Villarreal      61  57  50   7  38
5      6        Betis      60  60  61  -1  38
6      7      Sevilla      58  49  58  -9  38
7      8       Getafe      55  42  33   9  38
8      9        Eibar      51  44  50  -6  38
9     10       Girona      51  50  59  -9  38
10    11     Sociedad      49  66  59   7  38
11    12        Celta      49  59  60  -1  38
12    13      Espanol      49  36  42  -6  38
13    14       Alaves      47  40  50 -10  38
14    15      Levante      46  44  58 -14  38
15    16   Ath Bilbao      43  41  49  -8  38
16    17      Leganes      43  34  51 -17  38
17    18    La Coruna      29  38  76 -38  38
18    19   Las Palmas      22  24  74 -50  38
19    20       Malaga      20  24  61 -37  38

### Season 2018-2019  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1    Barcelona      87  90  36  54  38
1      2   Ath Madrid      76  55  29  26  38
2      3  Real Madrid      68  63  46  17  38
3      4     Valencia      61  51  35  16  38
4      5      Sevilla      59  62  47  15  38
5      6       Getafe      59  48  35  13  38
6      7      Espanol      53  48  50  -2  38
7      8   Ath Bilbao      53  41  45  -4  38
8      9     Sociedad      50  45  46  -1  38
9     10        Betis      50  44  52  -8  38
10    11       Alaves      50  39  50 -11  38
11    12        Eibar      47  46  50  -4  38
12    13      Leganes      45  37  43  -6  38
13    14   Villarreal      44  49  52  -3  38
14    15      Levante      44  59  66  -7  38
15    16        Celta      41  53  62  -9  38
16    17   Valladolid      41  32  51 -19  38
17    18       Girona      37  37  53 -16  38
18    19       Huesca      33  43  65 -22  38
19    20    Vallecano      32  41  70 -29  38

### Season 2019-2020  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1  Real Madrid      87  70  25  45  38
1      2    Barcelona      82  86  38  48  38
2      3   Ath Madrid      70  51  27  24  38
3      4      Sevilla      70  54  34  20  38
4      5   Villarreal      60  63  49  14  38
5      6     Sociedad      56  56  48   8  38
6      7      Granada      56  52  45   7  38
7      8       Getafe      54  43  37   6  38
8      9     Valencia      53  46  53  -7  38
9     10      Osasuna      52  46  54  -8  38
10    11   Ath Bilbao      51  41  38   3  38
11    12      Levante      49  47  53  -6  38
12    13   Valladolid      42  32  43 -11  38
13    14        Eibar      42  39  56 -17  38
14    15        Betis      41  48  60 -12  38
15    16       Alaves      39  34  59 -25  38
16    17        Celta      37  37  49 -12  38
17    18      Leganes      36  30  51 -21  38
18    19     Mallorca      33  40  65 -25  38
19    20      Espanol      25  27  58 -31  38

### Season 2020-2021  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1   Ath Madrid      86  67  25  42  38
1      2  Real Madrid      84  67  28  39  38
2      3    Barcelona      79  85  38  47  38
3      4      Sevilla      77  53  33  20  38
4      5     Sociedad      62  59  38  21  38
5      6        Betis      61  50  50   0  38
6      7   Villarreal      58  60  44  16  38
7      8        Celta      53  55  57  -2  38
8      9   Ath Bilbao      46  46  42   4  38
9     10      Granada      46  47  65 -18  38
10    11      Osasuna      44  37  48 -11  38
11    12        Cadiz      44  36  58 -22  38
12    13     Valencia      43  50  53  -3  38
13    14      Levante      41  46  57 -11  38
14    15       Getafe      38  28  43 -15  38
15    16       Alaves      38  36  57 -21  38
16    17        Elche      36  34  55 -21  38
17    18       Huesca      34  34  53 -19  38
18    19   Valladolid      31  34  57 -23  38
19    20        Eibar      30  29  52 -23  38

### Season 2021-2022  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1  Real Madrid      86  80  31  49  38
1      2    Barcelona      73  68  38  30  38
2      3   Ath Madrid      71  65  43  22  38
3      4      Sevilla      70  53  30  23  38
4      5        Betis      65  62  40  22  38
5      6     Sociedad      62  40  37   3  38
6      7   Villarreal      59  63  37  26  38
7      8   Ath Bilbao      55  43  36   7  38
8      9     Valencia      48  48  53  -5  38
9     10      Osasuna      47  37  51 -14  38
10    11        Celta      46  43  43   0  38
11    12    Vallecano      42  39  50 -11  38
12    13        Elche      42  40  52 -12  38
13    14      Espanol      42  40  53 -13  38
14    15       Getafe      39  33  41  -8  38
15    16        Cadiz      39  35  51 -16  38
16    17     Mallorca      39  36  63 -27  38
17    18      Granada      38  44  61 -17  38
18    19      Levante      35  51  76 -25  38
19    20       Alaves      31  31  65 -34  38

### Season 2022-2023  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1    Barcelona      88  70  20  50  38
1      2  Real Madrid      78  75  36  39  38
2      3   Ath Madrid      77  70  33  37  38
3      4     Sociedad      71  51  35  16  38
4      5   Villarreal      64  59  40  19  38
5      6        Betis      60  46  41   5  38
6      7      Osasuna      53  37  42  -5  38
7      8   Ath Bilbao      51  47  43   4  38
8      9     Mallorca      50  37  43  -6  38
9     10       Girona      49  58  55   3  38
10    11      Sevilla      49  47  54  -7  38
11    12    Vallecano      49  45  53  -8  38
12    13        Celta      43  43  53 -10  38
13    14     Valencia      42  42  45  -3  38
14    15       Getafe      42  34  45 -11  38
15    16        Cadiz      42  30  53 -23  38
16    17      Almeria      41  49  65 -16  38
17    18   Valladolid      40  33  63 -30  38
18    19      Espanol      37  52  69 -17  38
19    20        Elche      25  30  67 -37  38

### Season 2023-2024  —  Equipos: 20

    rank         team  points  GF  GA  GD  MP
0      1  Real Madrid      95  87  26  61  38
1      2    Barcelona      85  79  44  35  38
2      3       Girona      81  85  46  39  38
3      4   Ath Madrid      76  70  43  27  38
4      5   Ath Bilbao      68  61  37  24  38
5      6     Sociedad      60  51  39  12  38
6      7        Betis      57  48  45   3  38
7      8   Villarreal      53  65  65   0  38
8      9     Valencia      49  40  45  -5  38
9     10       Alaves      46  36  46 -10  38
10    11      Osasuna      45  45  56 -11  38
11    12       Getafe      43  42  54 -12  38
12    13      Sevilla      41  48  54  -6  38
13    14        Celta      41  46  57 -11  38
14    15     Mallorca      40  33  44 -11  38
15    16   Las Palmas      40  33  47 -14  38
16    17    Vallecano      38  29  48 -19  38
17    18        Cadiz      33  26  55 -29  38
18    19      Almeria      21  43  75 -32  38
19    20      Granada      21  38  79 -41  38